.footer {
  display: grid;
  grid:
    "siteLinks contactForm" 1fr
    "socialLinks contactForm" 1fr
    "copyright copyright" min-content /
    1fr 1fr;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--dark-grayish-blue);
  color: var(--off-white);

  &__copyright {
    grid-area: copyright;
    text-align: center;
    font-size: 0.9rem;
    color: var(--very-dark-blue);
    margin-top: 3em;
  }
}
